<div class="add-record">
<form>
  <h3>Add record</h3>
  <div>
    <label>Jogging date</label><br>
    <input type="text"  placeholder="{{jogDate}}" [(ngModel)] = "jogDate">
  </div>
  <div class="mb-3">
    <label class="form-label">Distance(m)</label> <br>
    <input type="text" placeholder="{{distance}}" [(ngModel)] = "distance">
  </div>
  <div class="mb-3">
    <label class="form-label">Time(s)</label><br>
    <input type="text" placeholder="{{time}}" [(ngModel)] = "time">
    <span>{{time}}</span>
  </div>
  <br>
  <span >RECORDED: {{jogDate}} {{distance}} {{time}}</span>
  <br>
  <button (click) = 'handleButtonClick()' type="submit" class="btn btn-primary">Save</button>

</form>
</div>
